/****************************************************************************
miam template 2
****************************************************************************/
::-webkit-scrollbar
{
  display: none;
}

.miam2 .Pub
{
	background-size: 100%;
	position: absolute;
	max-width: 1080px;
	max-height:1920px;
	height: 100%;
	text-align: center;
	width: 100%;
}

.miam2 .miam2-txt
{
	padding: 7.18% 10.50% 0 ;
	text-align: center;
  animation-delay: 0.5s;
}

.miam2 .miam2-txt p
{
	font-size: 50px;
	line-height: 60px;
	font-weight: 300;
}

.miam2 .miam2-txt span.txt1
{
	font-size: 90px;
	line-height: 100px;
	font-weight: 900;
  animation-delay: 1s;
}

.miam2 .img-bottom
{
	left: 10.50%;
	right: 10.50%;
	bottom: 2.6%;
  margin-top: 125.45%;
}

.miam2 .img-bottom p
{
	font-size: 40px;
	padding-top: 30px;
	letter-spacing: 25px;
	font-weight: 300;
}

.logo-miam
{
  animation-delay: 1.5s;
}

.bottom-txt
{
  animation-delay: 2s;
}

.miam2.pizza .Pub
{
	background: transparent url(../img/bg-pizza.jpg) no-repeat  center center;
}

.miam2 .miam2-pizza
{
	position: absolute;
	left: 5.55%;
	top :16.875%;
  animation-delay: 2.5s;
}
