/****************************************************************************
KJ été
****************************************************************************/
::-webkit-scrollbar
{
  display: none;
}

.kj-ete .Pub
{
	background: transparent url(../img/bg-kj.jpg) no-repeat  center center;
	background-size: 100%;
	position: absolute;
	max-width: 1080px;
	max-height:1920px;
	height: 100%;
	text-align: center;
	width: 100%;
}

.anim
{
	animation-delay: 0.5s;
}

.logo-kj
{
	animation-delay: 1s;
}

.kj-ete .kj-ete-img
{
	margin-top: 90%;
	animation-delay: 2s;
}

.img-bottom
{
	animation-delay: 2.5s;
}
