#cb-slideshow-miam1 li:nth-child(1) object
{
  -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  -o-animation-delay: 15s;
  -ms-animation-delay: 15s;
  animation-delay: 15s;
}

#cb-slideshow-miam1 li:nth-child(2) object
{
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}

#cb-slideshow-miam1 li:nth-child(3) object
{
  -webkit-animation-delay: 21s;
  -moz-animation-delay: 21s;
  -o-animation-delay: 21s;
  -ms-animation-delay: 21s;
  animation-delay: 21s;
}
